

.full-width{
    width: 100%;
}
.ak{
    padding-left: 400px;
    padding-top: 40px;
}
.bg-img{
    background: url('H:\Frontend\loginpage\src\assets\regs.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .change{
      color: aliceblue;
  }