<div class="bg-img">
<body>
   <header>
      <nav class ="navbar navbar-expand-md navbar-light bg-light">
      <div><a routerLink="/homepage" class="navbar-brand">Smart Cafeteria</a></div>
      
      <ul class="navbar-nav">
         
        <li><a routerLink="/liveoccupancy" class="nav-link">LiveOccupancy</a></li>
        <li><a routerLink="/historicaloccupancy" class="nav-link">Historical Occupancy</a></li>
        <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
        <li><a routerLink="/" class="nav-link">LogOut</a></li>
      
      </ul>
        </nav>
      </header> 
</body>
</div>