<html>

  <body>
    <header>
      <nav class ="navbar navbar-expand-md navbar-light bg-light">
      <div><a routerLink="/homepage" class="navbar-brand">Smart Cafeteria</a></div>
      
      <ul class="navbar-nav">
         
        <li><a routerLink="/cda" class="nav-link">Live occupancy</a></li>
        <li><a routerLink="/csa" class="nav-link">Historical occupancy</a></li>
        <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
        <li><a routerLink="/" class="nav-link">LogOut</a></li>
      
      </ul>
        </nav>
      </header> 
 
 
    <div class="top-container">
  <h1 class="myname">Smart Cafeteria</h1><br>
   </div>

  <div class="middle-container">
    
    <div class="skills">
        <p class="text">A Shadow Project</p>
      <h2>Qualities that makes us different</h2>
      <div class="skill-row">
        <img class="computer" src="https://www.ltts.com/sites/default/files/2020-11/img-1_op.png" alt="">
        <h3>Live Dining Area</h3>
        <p>Your dining room is a place where your family and friends come together </p>
      </div>
      <div class="skill-row">
        <img class="chillies" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/a2/d3/a9/cafe-smart-food.jpg" alt="">
        <h3>Live Service Area</h3>
        <p> If you run a restaurant, you have to adhere to state regulations regarding the occupancy of the service area</p>
      </div>
      <div class="skill-row">
        <img class="computer" src="\assets\md_5afec55eb036b.jpg" alt="">
        <h3>Live Dining Area Graph</h3>
        <p> If you run a restaurant, you have to adhere to state regulations regarding the occupancy of the service area</p>
      </div>
      <div class="skill-row">
        <img class="chillies" src="\assets\graph-flat-icon-800x566.jpg" alt="">
        <h3>Live Service Area Graph</h3>
        <p> If you run a restaurant, you have to adhere to state regulations regarding the occupancy of the service area</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>Regards</h3>
      <p class="contact-message">You can contact us by clicking on the given link. You can also find us on instagram, Facebook or LinkedIn.</p>
      <a class="btn" href="mailto:ashu11august@gmail.com">CONTACT US</a>
    </div>
  </div>
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.ltts.com/">Website</a>
    <p>© 2021 Smart Cafeteria ltts</p>
  </div>
</body>
  </html>
  
