<!-- <header>
    <nav class ="navbar navbar-expand-md navbar-light bg-light">
    <div><a routerLink="/homepage" class="navbar-brand">Smart Cafeteria</a></div>
    
    <ul class="navbar-nav">
       
      <li><a routerLink="/cda" class="nav-link">Current Dining Area</a></li>
      <li><a routerLink="/csa" class="nav-link">Current Service Area</a></li>
      <li><a routerLink="/" class="nav-link">Login</a></li>
      <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
      <li><a routerLink="/logout" class="nav-link">LogOut</a></li>
    
    </ul>
      </nav>
    </header>  -->
